<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Вело трекер</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>biketracker</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Для получения информации о вашем перемещении в пространстве необходим доступ к местоположению даже когда приложение свернуто</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Для получения информации о вашем перемещении в пространстве необходим доступ к местоположению даже когда приложение свернуто</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Для получения информации о вашем перемещении в пространстве необходим доступ к местоположению</string>
	<key>NSCameraUsageDescription</key>
	<string>Для видеозвонков из приложения нам необходим доступ к видеокамере вашего устройства</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Для видеозвонков из приложения нам необходим доступ к микрофону вашего устройства</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
    <key>NSBluetoothAlwaysUsageDescription</key>
        <string>Для подключения к гарнитурам Bluetooth, Smart часам, силовым педалям, разрешите доступ к Bluetooth</string>
        <key>NSBluetoothPeripheralUsageDescription</key>
        <string>Велосипедному трекеру требуется доступ к Bluetooth для подключения к вашим датчикам (скорости, каденса, мощности) и другим Bluetooth-совместимым устройствам, чтобы точно отслеживать ваши поездки.</string>

        <key>NSMotionUsageDescription</key>
        <string>Приложение использует данные о движении вашего устройства для автоматического определения начала и остановки велосипедной активности, что позволяет более точно отслеживать ваши поездки и экономить заряд батареи.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>FlutterDeepLinkingEnabled</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSHealthShareUsageDescription</key>
    <string>Приложение добавляет данные о вашей активности (поездке на велосипеде) в Apple Health дав разрешение вы будете видеть свою активность при поездках</string>
    <key>NSHealthUpdateUsageDescription</key>
    <string>Приложение добавляет данные о вашей активности (поездке на велосипеде) в Apple Health дав разрешение вы будете видеть свою активность при поездках</string>
    <key>NSBonjourServices</key>
    <array>
        <string>_bike-con._tcp</string>
    </array>
    <key>UIRequiresPersistentWiFi</key>
    <true/>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Предоставьте доступ к обнаружению устройств поблизости и вы сможете видеть на карте участников вашего велопробега.</string>

</dict>
</plist>
